

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&family=Satisfy&display=swap" rel="stylesheet">


<link rel="stylesheet" href=" {{url_for('static', filename='css/appoint.css')}}">
    <!-- ///// icon link////// -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- ////// header section /////// -->
    <section class="header">
      
        <nav id="navbar">
         <!-- <a href="index.html"><img src="assets/images/logo.png" alt=""></a> -->
         <a href="index.html" class="logo"><i class="fa-solid fa-vial-virus"></i>  LabSphere</a><br><br><br>
         <div class="nav-links" id="navLinks">
            
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul id="menu">
                <li><a href="{{url_for('home2')}}">HOME</a></li>
                <li><a href="{{url_for('about')}}">ABOUT</a></li>
                <li><a href="{{url_for('test_details')}}">TEST DETAILS</a></li>
                <li><a href="{{url_for('dashboard')}}">APPOINTMENT</a></li>
                <li><a href="{{url_for('symptoms')}}">SYMPTOMS</a></li>
                <li><a href="{{url_for('quiz')}}">QUIZ</a></li>
                <li><a href="{{ url_for('chat') }}">CHATBOT</a></li>
            <a href="{{url_for('home')}}" class="hero-btn">Logout</a>
            </ul>
         </div>
         <i class="fa fa-bars" onclick="showMenu()" ></i>
        </nav>
     <!-- ////navbar//// -->
     <div class="text-box">
        <h1>Lab Appointment</h1>
       
       
     </div>   

    </section><br><br>
   
    <div class="container">
   
        <!-- Form Section -->
        <div class="form-container">
       <center>     <h1>Welcome</h1></center><br>
            <form method="POST" action="/book_appointment">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your full name" required>
                
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                
                <label for="phone">Phone Number:</label>
                <input type="number" id="phone_number" name="phone_number" placeholder="Enter your phone number" required>
                <label for="time">Time:</label>
                <input type="time" id="time" name="time" placeholder="Select Time" required>
                
                <label for="lab">Select Test:</label>
                <select id="doctor" name="test" required>
                    <option value="" disabled selected>Select your Test</option>
                    <option >Blood Tests</option>
                    <option >Urine Tests</option>
                    <option >Immunology and Serology Tests</option>
                    <option >Genetic Tests</option>
                    <option >Allergy Tests</option>
                    <option >Toxicology Tests</option>
                    <option >Coagulation Tests</option>
                </select>
                
                <label for="appointment_date">Preferred Appointment Date:</label>
                <input  type="date" id="date" name="date"  required>
                
                <label for="message">Additional Notes (optional):</label>
                <textarea id="description" name="description" rows="4" cols="50"  placeholder="Add any additional details here..."></textarea>
                
                <button type="submit">Book Appointment</button>
            </form>
        </div>

        <!-- Image Section -->
        <div class="image-container">
            <img src="{{url_for('static', filename='images/science.jpg')}}" alt="Doctor Appointment">
        </div>
    </div><br><br><br>
   
    <section class="footer">
        <h4>Welcome to Docs</h4>
        <p>The clinic ensures a warm and welcoming atmosphere, making it suitable for patients of all ages, including children <br> and the elderly.Offering in-house diagnostic facilities such as lab tests, X-rays, and scans for quick and accurate results.</p>
        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-solid fa-location-dot"></i>
    
        </div>
    <p>Made With <i class="fa-regular fa-heart"></i> by Barerah Hashmi , Kinza Sheikh , Mashail Sheikh , Shurame Shariq</p>
        
    </section>


    <!-- ////javascript function/////// -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>